@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #038c33;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 100vw;
}

.container > * {
  padding: 0 112px;
}

::placeholder {
  color: #9ca1a3;
}

fieldset {
  border: 1px solid #e3e5e5;
  border-radius: 8px;
  padding: 13px 15px;
  vertical-align: top;
  min-width: 157px;
  position: relative;
}

/* .field-list li div{
  display: flex;
  flex-direction: column;
} */

input,
select {
  outline: none;
}

fieldset legend {
  font-size: 12px;
  padding: 0 5px;
  color: var(--primary-color);
  float: none;
  margin: 0;
  width: fit-content;
}

fieldset.fieldset-short {
  width: 157px;
}

fieldset input {
  width: 100%;
  border: none;
  font-size: 16px;
  height: 100%;
}

ul {
  list-style-type: none;
}

/* header nav section */

nav {
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  width: 100%;
  padding: 15px;
  color: #919699;
}

nav ul li a:hover {
  color: #038c33;
}

.active {
  border-bottom: 2px solid;
  border-color: #038c33;
  padding: 15px 30px;
  color: #038c33;
}

nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav div.logo-div {
  gap: 59px;
}

nav div a {
  color: #5e6366;
  padding: 10px;
}

nav div a:hover {
  color: #026224;
}

.btn-bg-green {
  width: 210px;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color: #038c33;
  padding: 15px 20px;
  transition: 0.4s all ease;
  outline: none;
  border: none;
}

nav div .btn-bg-green:nth-child(1) {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-small {
  width: 176px;
  height: 45px;
  border: 1px solid #038c33;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
}

.btn-small:hover {
  font-weight: 700;
}

.bg-green {
  background-color: #038c33;
  color: white;
}

.bg-green:hover {
  background-color: white;
  color: #038c33;
}

.bg-none {
  background: transparent;
  color: #038c33;
}

.bg-none:hover {
  background: #038c33;
  color: #fff;
}

.btn-bg-green:hover {
  background: #026224;
  color: white;
}

/* body1 div section styling */

.body1 {
  display: flex;
  height: 827px;
  padding: 75px 112px;
  justify-content: space-between;
  background-image: url(./images/Above\ the\ fold.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 128px;
}

.body1 > div:nth-child(1) {
  /* width: 47%; */
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.body1 > div:nth-child(1) > p:nth-child(1) {
  font-size: 72px;
  text-align: left;
  font-weight: 900;
  line-height: 75px;
  width: 558px;
  margin-top: 35px;
}

.body1 > div:nth-child(1) > p:nth-child(2) {
  font-size: 20px;
}

.qr-code-img {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.qr-code-img > img {
  width: 120px;
  height: 120px;
}

.store {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.store img {
  width: 169px;
}

.body1 > form,
.body1 .form-div form {
  height: fit-content;
  width: 410px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(94, 99, 102, 0.25);
  padding: 25px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
  position: relative;
}

.body1 > form .for-spread > *,
.body1 .form-div form .for-spread > * {
  margin: 20px 0;
}

.choose {
  display: flex;
  align-items: flex-end;
  min-height: 50px;
}

.choose > fieldset {
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  height: 65px;
}

.choose > fieldset legend {
  font-size: 16px;
}

.choose > fieldset > input {
  font-size: 24px;
  color: #026224;
  font-weight: 700;
}

form > .country {
  width: 100%;
  position: relative;
}

form .country > div .click {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #9ad1ad;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  height: 55px;
  gap: 5px;
}

form .country > span {
  color: black;
  font-size: 18px;
}

form .country div .click span {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

form .country div .fa {
  color: #000000;
  font-size: 20px;
  color: #c5c9cc;
  transition: 0.2s all ease;
}

form .country div:hover .fa {
  color: green;
}

/* HTML CSS DROPDOWN */

.dropdown {
  width: 100%;
  min-height: 200px;
  position: absolute;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #f8f9f9;
  display: none;
  background: #fff;
  z-index: 888;
}

.dropdown > * {
  width: 100%;
}

.dropdown .search {
  padding: 10px 20px;
  border-bottom: 1px solid #f8f9f9;
}

.dropdown .search input {
  width: 100%;
  padding: 0px 8px 0px 30px;
  height: 44px;
  font-size: 14px;
  color: #3e4345;
  border-radius: 28px;
  border: 1px solid #e3e5e5;
  outline: none;
}

.dropdown .search input::placeholder,
.field-list input::placeholder {
  color: #c8cccf;
}

.dropdown .countries {
  padding: 10px 0;
  height: 190px;
  overflow: scroll;
  overflow-y: scroll;
}

.dropdown .countries > * {
  padding: 8px 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s all ease;
}

/* .dropdown .countries > *:hover {
  background: #e9f9ee;
  color: #026224;
} */

/*  */

.body1 form .select {
  width: 100%;
  position: relative;
}

.payment {
  height: 58px;
  border: 1px solid #e3e5e5;
  border-radius: 10px;
  font-size: 20px;
  color: #5e6366;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 5px;
  cursor: pointer;
  gap: 20px;
}

.payment .fa {
  font-size: 22px;
}

.payment-dropdown {
  width: 100%;
  min-height: 200px;
  position: absolute;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #f8f9f9;
  background: #fff;
  display: none;
  z-index: 777;
}

.payment-dropdown > * {
  height: 58px;
  border: 1px solid #e3e5e5;
  font-size: 20px;
  color: #5e6366;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
  cursor: pointer;
  transition: 0.4s all ease;
}

.payment-dropdown > * .fa {
  color: #919699;
  transition: 0.4s all ease;
}

.payment-dropdown > *:hover,
.payment-dropdown > *:hover .fa {
  background: #f6f8f9;
  color: #038c33;
}

.payment-dropdown div:last-child {
  border-radius: 0 0 10px 10px;
}

.payment span {
  display: flex;
  gap: 20px;
}

/*  */
div.sendrec {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.sendrec span {
  font-size: 14px;
  color: #272a2b;
}

.little {
  font-size: 14px;
  color: #272a2b;
}

p.spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p.spread img {
  width: 15px;
  margin: 0 10px;
}

p.spread span:nth-child(1) span {
  color: var(--primary-color);
  font-weight: 700;
}

div.space {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.sendrec > div {
  display: flex;
}

div.sendrec > div input {
  flex-grow: 1;
  border: 1px solid;
  border-color: #e3e5e5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
  color: #3e4345;
  outline: none;
}

div.sendrec > div p {
  height: 52px;
  padding: 20px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: #e3e5e5;
}

/* button */

.body1 form button,
.button-large {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-size: 18px;
  color: #ffffff;
  outline: none;
  border: none;
  transition: 0.2s all ease;
}

/* div body2 and body3 section styling */

.body2,
.body3 {
  min-height: 774px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.body2 {
  background: #fffcf2;
}

.body2 > div p:nth-child(2) {
  font-size: 24px;
  color: #272a2b;
  margin-top: 20px;
}

.body3 {
  background: #e5f8eb;
  /* background-image: url(./images/360_F_286239861_5aUxLf1u9Xf8gRQFVKbMqtZmWykv39Yz-4ef213bcb0ca16ebb307cfdd6b45b4c9-7b08f9.jpg.jpg); */
}

.body3 .flex > * {
  padding: 0;
}

.body3 .flex img {
  width: 250px;
}

.lato48px {
  font-size: 48px;
  font-weight: 900;
  color: #272a2b;
  text-align: center;
}

.lato32px {
  font-size: 32px;
  font-weight: 900;
  color: #272a2b;
  text-align: center;
}

.lato24px {
  font-size: 24px;
  font-weight: 900;
  color: #272a2b;
}

.lato20px {
  font-size: 20px;
  font-weight: 900;
  color: #272a2b;
}

.lato16px {
  font-size: 16px;
  font-weight: 700;
  color: #272a2b;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.flex1 > * {
  width: 279px;
  height: 380px;
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 44px 21px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  vertical-align: top;
  transition: 0.5s all ease;
}

.flex1 > *:hover {
  border-color: #81c493;
}

.flex1 > * img {
  width: 104px;
  height: 100px;
}

.flex1 > * p:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
}

.flex1 > * p:nth-child(3) {
  line-height: 25px;
}

.flex2 > * {
  width: 250px;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 25px 30px;
  border-radius: 10px;
}

.flex2 > * img {
  width: 250px;
}

.flex2 > * > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex2 > * > div span {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.flex2 > * > div p {
  font-size: 16px;
  color: #272a2b;
  line-height: 24px;
  text-align: center;
}

/* body4 */

.body4 {
  gap: 72px;
}

.body4 .flex {
  gap: 45px;
}

.body4 .flex > * {
  width: 270px;
  height: 320px;
  box-shadow: 0px 4px 8px rgba(94, 99, 102, 0.25);
  padding: 20px;
  border: none;
  background: #fff;
}

.name {
  display: flex;
  gap: 15px;
}

.name > div {
  width: 55px;
  height: 55px;
  background: #038c33;
  color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.flex1 div .name > p {
  font-size: 16px;
  color: #272a2b;
  font-weight: 100;
}

.body4 .flex div img {
  height: 20px;
}

.body4 .flex .rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body4 .flex1 .after-rating p {
  font-size: 16px;
  color: #272a2b;
}

.body4 .flex1 .after-rating p:nth-child(1) {
  font-weight: 700;
}

.body4 .flex1 .after-rating p:nth-child(2) {
  font-weight: 100;
}

/* div body5 styling section */

.body5 {
  min-height: 744px;
  display: flex;
  align-items: center;
  gap: 104px;
}

.body5 > div:nth-child(1) {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body5 > div:nth-child(1) > img {
  width: 471px;
  height: 519px;
}

.body5 > div:nth-child(2) {
  height: 332px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.body5 > div:nth-child(2) p:nth-child(1) {
  font-size: 48px;
  font-weight: 900;
}

.body5 > div:nth-child(2) p:nth-child(2) {
  font-size: 18px;
  width: 444px;
}

.forqr {
  height: 175px;
  width: 176px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(145, 150, 153, 0.25);
  position: absolute;
  margin-left: 250px;
  padding: 15px;
}

.forqr img {
  height: 100%;
  width: 100%;
}

/* before footer */

.before-footer {
  height: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272a2b;
  color: white;
}

.before-footer > div:nth-child(1) {
  min-height: 20px;
  display: flex;
  justify-content: center;
  gap: 112px;
}

.before-footer > div > * {
  vertical-align: top;
}

.before-footer div ul {
  list-style-type: none;
}

.before-footer div ul li {
  margin: 15px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: -10px;
}

.before-footer div ul li a {
  color: #fff;
  transition: 0.5s all ease;
}

.before-footer div ul li a:hover {
  color: #f1c403;
}

.before-footer div ul li:nth-child(1) {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.before-footer div ul li p:nth-child(1) {
  font-weight: 700;
  margin-bottom: 10px;
}

.before-footer > div .store {
  justify-content: flex-start;
}

.before-footer > div ul div {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.before-footer > div ul div > * {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #038c33;
  font-size: 20px;
  transition: 0.5s all ease;
}

.before-footer > div ul div > *:hover {
  transform: rotate(180deg);
  background: #0448bf;
  color: #fff;
}

footer {
  height: 71px;
  background: #038c33;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.scroll-up {
  width: 79px;
  height: 75px;
  padding: 13px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff0b3;
  color: #b29000;
  position: absolute;
  right: 112px;
  margin-top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.body2,
.body3,
.body4,
.body5 {
  padding: 130px 112px;
}

/* how it works page styling starts here */

.how-it-works > div:nth-child(2) {
  margin-top: 128px;
}

.how-it-works > div:nth-child(2),
.how-it-works > div:nth-child(3),
.how-it-works > div:nth-child(4) {
  padding: 0 112px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 824px;
  gap: 170px;
}

.how-it-works .lato48px {
  font-weight: 700;
}

.how-it-works .flex {
  gap: 0;
  align-items: center;
}

.how-it-works .flex > * {
  width: 50%;
  min-height: 300px;
}

.how-it-works .flex > div img {
  width: 550px;
  height: 300px;
}

.div-h-220 {
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding: 0 30px; */
}

.div-h-220 p:nth-child(1) {
  font-size: 24px;
  color: #919699;
  font-weight: 700;
}

.div-h-220 p:nth-child(2) {
  font-size: 48px;
}

.div-h-220 p:nth-child(3) {
  font-size: 24px;
  font-weight: 700;
  color: #272a2b;
}

.div-h-220 p:nth-child(4) {
  font-size: 16px;
  color: #5e6366;
  width: 416px;
}

.how-it-works > div:nth-child(3) {
  background: #e9f9ee;
}

/* about-us */

.about-us .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 90px 200px 112px;
  flex-wrap: nowrap;
}

.about-us .flex .div-h-288 {
  width: 588px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.about-us > p {
  font-size: 32px;
  color: #272a2b;
  font-weight: 700;
  padding-top: 30px;
  margin-top: 128px;
}

.about-us .flex .div-h-288 p {
  text-align: justify;
}

.about-us .flex .asoImg {
  width: 515px;
  background-image: url(./images/zumaRock.png);
  background-position: center;
  height: 444px;
  border-radius: 20px;
  cursor: pointer;
}

.popUp {
  height: 40px;
  background: #e9f9ee;
  transform: translateY(404px);
  display: none;
  border-radius: 0 0 20px 20px;
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  color: #31bb61;
  font-size: 16px;
  transition: 1s all ease;
}

.asoImg:hover .popUp {
  display: flex;
}

/* FAQ styling */

.faq > p {
  font-size: 32px;
  color: #272a2b;
  font-weight: 700;
  padding-top: 30px;
  margin-top: 128px;
}

.faq .main1 ul {
  list-style-type: none;
  padding-top: 61px;
  padding-bottom: 231px;
}

/* .faq .main1 ul li{
  min-height: 30px;
} */

.faq .main1 ul li p {
  padding: 20px 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #272a2b;
  font-weight: 700;
  background-color: #f6f8f9;
  cursor: pointer;
}

.faq .main1 ul li div {
  padding: 20px 20px 20px 75px;
  display: flex;
  align-items: center;
  background-color: #e9f9ee;
  display: none;
}

.faq .main1 ul li p .fa {
  font-size: 23px;
  color: #038c33;
  transition: 0.5s all ease;
}

/* loginform styling */

.loginform {
  min-height: 100vh;
  background: #9ad1ad;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-us .loginform {
  margin-top: 128px;
}

.loginform form {
  min-height: 436px;
  width: 450px;
  padding: 0 20px;
  box-shadow: 0px 4px 8px rgba(145, 150, 153, 0.25);
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginform form .p1 {
  margin: 50px 0;
  font-size: 24px;
  color: #5e6366;
  font-weight: 700;
}

.loginform form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginform form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5a9272;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginEmail::placeholder,
.loginPassword::placeholder {
  color: #9ca1a3;
  font-size: 14px;
}

.loginform2::placeholder {
  color: red;
}

.loginform form .p00 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.loginform form .p00 .p000 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.loginform form .p00 .p000 input {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 3px solid;
  border: 2px solid green;
  cursor: pointer;
}

.loginform form button {
  width: 100%;
  height: 45px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #038c33;
  font-weight: 700;
  outline: none;
  transition: all ease-in-out 0.2s;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.loginform form button:hover {
  background-color: #026224;
}

.loginform form p:last-child {
  text-align: center;
  font-size: 14px;
  color: #272a2b;
  font-family: "Roboto", sans-serif;
}

.loginform form p:last-child a {
  font-weight: 700;
  color: #272a2b;
}

.error-message {
  width: 100%;
  height: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #f44336;
  background-color: #ffebee;
  margin: 10px 0 30px 0;
}

form .myform-control {
  position: relative;
}

form .myform-control input {
  width: 100%;
  height: 45px;
  padding: 0px 8px;
  border: 1px solid #769485;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  color: #272a2b;
  font-family: "Roboto", sans-serif;
  text-decoration: none solid rgb(39, 42, 43);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.023231999999997754);
}
form .myform-control label {
  transition: 0.5s all;
  font-size: 14px;
  color: #000000;
  text-decoration: none solid rgb(0, 0, 0);
}
form .myform-control i {
  position: absolute;
  top: 10px;
  color: #c5c9cc;
  font-size: 24px;
  right: 10px;
}

.myformgroup .p00 {
  color: #3e4345;
  font-size: 14px;
}

form .myform-control label {
  font-weight: 700;
}

form .myform-control:not(.activeInput) label {
  display: none;
}
form .myform-control:not(.error) span.error {
  display: none;
}
form .myform-control.error input {
  border: 1px solid #f44336 !important;
  background-color: #ffebee !important;
  color: #f44336;
  text-decoration: none solid rgb(39, 42, 43);
}
form .myform-control.error span.error {
  font-size: 12px;
  color: #f44336;
  text-decoration: none solid rgb(244, 67, 54);
}

/* Open account page */

.createaccount .flex {
  margin-top: 128px;
  gap: 0;
  padding: 0;
}

.createaccount .flex > div {
  height: 983px;
}

.createaccount .flex > div:first-child {
  width: 44%;
  background: black;
  background: #9ad1ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.createaccount .flex > div:last-child {
  width: 56%;
  background: black;
}

.createaccount .flex > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.createaccount .flex > div:first-child > div:first-child > .lato32px {
  padding: 72px 86px 30px 72px;
}

.createaccount .flex > div:first-child > div:first-child > p:nth-child(2) {
  font-size: 16px;
  color: #272a2b;
  text-align: center;
}

.createaccount .flex > div:first-child > div:last-child img:nth-child(2) {
  width: 100%;
}

.createaccount .loginform {
  background: white;
  justify-content: flex-start;
  height: 100%;
}

.createaccount .loginform form {
  box-shadow: none;
}

.createaccount .loginform form div {
  gap: 20px;
}

.check {
  height: 40px;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 10px;
  font-size: 14px;
}

.check span:nth-child(2) {
  margin-bottom: 5px;
}

.check span a {
  text-decoration: none;
  color: #038c33;
  font-weight: 700;
}

.check span input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: none;
}

.main {
  display: none;
}

/* toogle */
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 1px;
  left: 0;
  bottom: 4px;
  background-color: #5e6366;
}

input:checked + .slider {
  background-color: #dadada;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* slide */
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 1px;
  left: 0;
  bottom: 4px;
  background-color: #038c33;
}

input:checked + .slide {
  background-color: #e9f9ee;
}

/* send-money-from-home styling starts here */

.header2 nav {
  border: 1px solid #f6f8f9;
  min-height: 128px;
  z-index: 1200;
  padding: 0 112px;
}

.header2 .my-account {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header2 nav .click {
  color: #919699;
  font-size: 18px;
  padding: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.header2 nav .click:hover {
  color: #038c33;
}

.header2 nav .click .fa {
  transition: 0.2s all ease;
}

.header2 nav .dropdown {
  margin-top: 90px;
  min-height: 100px;
  width: 220px;
  box-shadow: 0px 4px 8px rgba(145, 150, 153, 0.25);
}

.header2 nav .dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
  padding: 10px;
}

.header2 nav .dropdown ul > * {
  display: flex;
  width: 100%;
}

.header2 nav .dropdown ul > * a {
  box-sizing: border-box;
  width: 100%;
  text-align: end;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #272a2b;
  transition: 0.2s all ease;
}

.header2 nav .dropdown ul > * a:hover {
  background-color: #f1f3f4;
  color: #038c33;
}

.header2 nav .dropdown ul > :last-child a {
  background-color: #fff5f5;
  color: #e53935;
}

.header2 nav .dropdown ul > :last-child a:hover {
  background: #ffcfcf;
}

.header2 nav ul {
  margin-right: 200px;
}

.header2 .body1 {
  display: block;
  background: white;
}

/* my-profile page styling starts here */

.my-profile .body1 {
  padding-top: 30px;
}

.my-profile .body1 .flex {
  justify-content: space-between;
}

.my-profile .body1 .flex div:nth-child(1),
.width-30-percent {
  padding: 20px 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-profile .body1 .flex div:nth-child(1) ul,
ul.field-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.my-profile .body1 .flex div:nth-child(1) ul li,
ul.field-list li {
  display: flex;
  gap: 20px;
}

.my-profile .body1 .flex div:nth-child(1) ul li > *,
ul.field-list li > * {
  flex-grow: 1;
}

.my-profile .body1 .lato32px {
  text-align: start;
}

.my-profile .body1 .flex div:nth-child(2) {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-profile .body1 .flex div:nth-child(2) .complete-registration {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(197, 201, 204, 0.24);
  border: 2px solid #7bc495;
  padding: 25px 20px;
  transition: 0.2s all ease;
}

.my-profile .body1 .flex div:nth-child(2) .complete-registration:hover {
  background: #f2fcf6;
}

.my-profile .body1 .flex div:nth-child(2) .basic-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(197, 201, 204, 0.24);
  border: 2px solid #dde1e3;
  padding: 35px;
  background: #f6f8f9;
}

.my-profile .body1 .flex div:nth-child(2) .basic-info p {
  display: flex;
  justify-content: space-between;
  color: #272a2b;
}

.my-profile .body1 .flex div:nth-child(2) .basic-info p span:nth-child(1) {
  font-size: 18px;
}

.my-profile .body1 .flex div:nth-child(2) .basic-info p span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.line {
  height: 10px;
  width: 100%;
  background: lightgrey;
  position: relative;
  border-radius: 8px;
}

.line:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #e53935;
  border-radius: 8px;
}

.line1:before {
  width: 25%;
}

/* account-verification styling starts here */

.acc-v-process > div:nth-child(1) {
  height: 78px;
  background: #f6f8f9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.acc-v-process > div:nth-child(2),
.for-line-div {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acc-v-process > div:nth-child(2) .line-div,
.for-line-div .line-div {
  width: 55%;
}

.acc-v-process > div:nth-child(2) .under,
.for-line-div .under {
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.acc-v-process > div:nth-child(2) .under p:nth-child(2),
.acc-v-process > div:nth-child(2) .under p:nth-child(3) {
  margin-right: 45px;
}

.acc-v-process > div:nth-child(2) .line-div .line,
.for-line-div .line-div .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7px;
  background-color: #e9f9ee;
}

.acc-v-process > div:nth-child(2) .line-div .line > *,
.for-line-div .line-div .line > * {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
}

.acc-v-process > div:nth-child(2) .line-div .line1:before,
.for-line-div .line-div .line1:before {
  width: 0;
}

.acc-v-process > div:nth-child(1) .fa {
  font-size: 30px;
  color: #919699;
  cursor: pointer;
}

.acc-v-process .active-process {
  font-weight: 700;
}

.acc-v-process .width-30-percent {
  width: 25%;
  padding-top: 100px;
  margin: 0 auto;
  position: relative;
}

.acc-v-process .width-30-percent .lato24px {
  text-align: center;
}

.acc-v-process fieldset legend {
  display: none;
}

.acc-v-process .width-30-percent > p.no-style {
  text-align: center;
  color: #5e6366;
  line-height: 24px;
  font-size: 16px;
  padding: 0;
}

.acc-v-process .width-30-percent .button-large:hover {
  background: #026224;
}

ul li select {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-size: 14px;
  color: #272a2b;
  border: 1px solid #e3e5e5;
}

ul.field-list li div span {
  font-size: 12px;
  color: #e53935;
  padding-left: 15px;
  display: none;
}

.acc-v-process ::-webkit-input-placeholder {
  color: #d6d9db;
}

/* Identity verification page styling starts here */

.verification > div:nth-child(2) .line-div .line1:before {
  width: 50%;
  background: var(--primary-color);
}

.verification > div:nth-child(2) .line-div .line div:nth-child(1),
.selfie > div:nth-child(2) .line-div .line div:nth-child(2),
.complete > div:nth-child(2) .line-div .line div:nth-child(2) {
  background: var(--primary-color);
  color: white;
}

.verification ul p {
  font-weight: 900;
}

.verification ul p:nth-child(1),
.verification ul p:nth-child(3) {
  font-size: 14px;
}

.verification ul li div fieldset {
  background: #f7f9fa;
}

.verification ul select {
  font-size: 14px;
  font-weight: 700;
}

/* selfie page styling starts here */

.selfie > div:nth-child(2) .line-div .line1:before,
.complete > div:nth-child(2) .line-div .line1:before {
  width: 100%;
  background: var(--primary-color);
}

.selfie .take-selfie {
  height: 335px;
  background: #f1f3f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.selfie .take-selfie .fa,
.selfie .take-selfie .lato24px {
  color: #919699;
}

.selfie .take-selfie .fa {
  font-size: 40px;
}

/* verificatioin complete page styling */

.check-div {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #e9f9ee;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-div > div {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background: #dff3de;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-div > div > div {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-div > div > div .fa {
  font-size: 65px;
  color: #d2f0db;
}

/* my cards page styling starts here */

.cards-div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cards-div > * {
  cursor: pointer;
}

.cards {
  height: 170px;
  width: 300px;
  background: url("./images/Card.svg");
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.cards > * {
  flex-grow: 1;
}

.not-in-use {
  opacity: 0.4;
  transition: 0.3s all ease;
}

.add-card {
  height: 170px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #d5d5d5;
  /* color: #fff; */
}

.add-card > * {
  margin: 0;
}

.add-card .fa {
  font-size: 30px;
  font-weight: 100;
  color: #d5d5d5;
}

.cards img {
  width: 50px;
}

.cards section > p,
.cards > p {
  font-size: 20px;
  font-weight: 900;
  margin-top: 10px;
}

.cards > div {
  display: flex;
}

.cards > div > * {
  flex-grow: 1;
}

.cards > div > * > p {
  margin: 0;
}

.cards > div > * > p.holder-name {
  font-size: 12px;
  font-weight: 700;
}

.cards > div > * > p.name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.my-cards .modal-content {
  width: 400px;
  border-radius: 10px;
  min-height: 200px;
  padding: 20px 20px 50px 20px;
}

.my-cards .modal-content .field-list li {
  gap: 10px;
}

.my-cards .modal-content .field-list li div .fieldset-short {
  width: 115px;
}

.my-cards .modal-dialog-centered {
  justify-content: center;
}

.my-cards .modal-header .btn-close {
  padding: 0;
  margin: 0;
}

.my-cards .modal-title {
  text-align: center;
  margin: 0 auto;
}

.my-cards .modal-header {
  border: none;
}

.my-cards .modal-footer {
  display: none;
}

.my-cards .body1 {
  height: 1000px;
}

.my-cards .modal.show .modal-dialog {
  height: 900px;
}

.my-cards .modal-content form p:nth-child(1) {
  font-size: 14px;
  color: #919699;
  font-weight: 700;
  padding-bottom: 20px;
}

.delete-button {
  width: 176px;
  height: 45px;
  border: 1px solid #e53935;
  background-color: #fff5f5;
  font-size: 16px;
  color: #e53935;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s all ease;
}

.delete-button:hover {
  background-color: #e53935;
  color: #fff5f5;
  font-weight: 700;
}

.my-cards .body1,
.my-recipients .body1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: flex-start;
}

.my-cards .for-del .modal-header {
  padding: 0;
}

.my-cards .for-del .modal-body p {
  text-align: center;
  font-size: 14px;
  color: #272a2b;
}

.my-cards .for-del .modal-content {
  padding: 20px;
}

.my-cards .for-del .modal-header,
.for-del h5 {
  color: #e53935;
  font-weight: 900;
}

.my-cards .for-del .modal-body .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.my-cards .for-del .modal-body .buttons > * {
  height: 40px;
  border: 1px solid #e53935;
  background-color: #fff5f5;
  font-size: 16px;
  color: #e53935;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-cards .for-del .modal-body .buttons button:nth-child(2) {
  background-color: #e53935;
  color: #fff5f5;
}

.modal-backdrop.show {
  opacity: 0.8;
}

/* my recipients page styling starts here */

.my-recipients .body1 div:nth-child(2) {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.my-recipients .body1 div:nth-child(2) p {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-recipients .body1 div:nth-child(2) p .little {
  font-weight: 700;
}

.my-recipients .body1 .lato20px:nth-child(3) {
  text-align: end;
}

.long-input {
  width: 450px;
  height: 45px;
  border: 1px solid #c5c9cc;
  padding: 0px 8px;
  font-size: 16px;
  color: #3e4345;
  border-radius: 4px;
}

.my-recipients table {
  border-collapse: collapse;
}

.my-recipients table thead tr th {
  text-align: left;
}

.my-recipients table thead tr th,
.my-recipients table tbody tr td {
  padding: 20px;
}

.my-recipients table thead tr th {
  border-bottom: 2px solid;
  border-color: #c5c9cc;
}

.my-recipients table thead tr th:last-child {
  text-align: center;
}

.my-recipients table tbody tr td:last-child {
  text-align: center;
  font-size: 25px;
  color: #e53935;
}

/* settings page styliing starts here */
.settings .body1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  padding-top: 70px;
}

.settings .body1 div:nth-child(2) {
  border-bottom: 2px solid #e3e5e5;
}

.settings .body1 div:nth-child(2) p button {
  border: none;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border-bottom: 2px solid #038c33;
}

.settings .body1 div:nth-child(3) form > div {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings .body1 div:nth-child(3) form > div button {
  height: 40px;
  margin-top: 15px;
  font-family: roboto;
  font-size: 16px;
}

/* transactions page styling starts here */

.transactions .body1 > div:nth-child(2) {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.transactions .body1 > div:nth-child(2) > * {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.transactions .body1 > div:nth-child(2) > * input,
.transactions .body1 > div:nth-child(2) > * select {
  height: 45px;
  color: #3e4345;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #c5c9cc;
  padding: 10px;
  transition: 0.2s all ease;
}

.transactions .body1 > div:nth-child(2) > * select,
.transactions .body1 > div:nth-child(2) > * input[type="date"] {
  font-family: Roboto;
  font-size: 14px;
}

.transactions .body1 > div:nth-child(2) > * span {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 8px;
}

.transactions .body1 > div:nth-child(2) > * input[type="date"]:focus {
  border-color: #038c33;
}

.transactions .all-transactions {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 5px;
}

.transactions .all-transactions > * {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 50px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #e3e5e5;
  font-size: 14px;
}

.transactions .all-transactions > * > section {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.transactions .all-transactions > * > section > span {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background: #fff5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions .all-transactions > * > section > span img {
  width: 15px;
  height: 15px;
}

.transactions .all-transactions > * > section > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.transactions .all-transactions > * > div > p:nth-child(1) {
  color: var(--primary-color);
  text-align: end;
  margin-bottom: 5px;
}

.transactions .all-transactions > * > section > div > p:nth-child(1) {
  font-weight: 700;
}

/* refer a friends page starts here */

.refer .body1 .lato32px {
  margin-top: 30px;
}

.refer .body1 .flex-friend {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}

.refer .body1 .flex-friend div:nth-child(1) {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.refer .body1 .flex-friend div:nth-child(1) ul {
  list-style-type: decimal;
  padding-left: 15px;
}

.refer .body1 .flex-friend div:nth-child(1) .flex {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
}

.refer .body1 .flex-friend div:nth-child(1) .flex input {
  width: 270px;
  height: 45px;
  padding: 0px 8px;
  border: 1px solid #9ad1ad;
  border-radius: 4px;
  font-size: 14px;
}

.refer .body1 .flex-friend div:nth-child(1) .flex button {
  font-weight: 700;
  width: 195px;
}

.refer .body1 .flex-friend div:nth-child(1) .flex:nth-child(4) input,
.refer .body1 .flex-friend div:nth-child(1) .flex:nth-child(5) input {
  color: #038c33;
  background-color: #e9f9ee;
}

.refer .body1 .flex-friend div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.refer .body1 .flex-friend div:nth-child(2) > img {
  width: 213px;
  height: 213px;
}

.refer .body1 .flex-friend div:nth-child(2) > table {
  border-collapse: collapse;
}

.refer .body1 .flex-friend div:nth-child(2) > table tr td {
  border: 1px solid #919699;
  padding: 0 20px;
}

.refer .body1 .flex-friend div:nth-child(2) > table tr td:nth-child(1) {
  width: 215px;
  height: 45px;
  background-color: #f6f8f9;
  font-weight: 700;
}

.refer .body1 .flex-friend div:nth-child(2) > table tr td:nth-child(2) {
  width: 100px;
  text-align: right;
}

/* send money page styling starts here */

.send-money .for-line-div .line-div .line {
  background: #c5c9cc;
}

.send-money .for-line-div .line-div .line1:before {
  width: 60px;
  height: 3px;
  margin-top: 2px;
  background: var(--primary-color);
}

.send-money .for-line-div .line-div .line > * {
  color: #c5c9cc;
  border: 4px solid #c5c9cc;
}

.send-money .for-line-div .line-div .line > div:nth-child(1) {
  border-color: var(--primary-color);
}

.send-money .for-line-div .under {
  color: #c5c9cc;
  padding: 0;
}

.send-money .for-line-div .under .active-process {
  color: var(--primary-color);
  font-size: 14px;
}
